
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    
}

body {
    box-sizing: border-box;
    background: $color-background;
    height: 100vh;

    &.modal-open {
        overflow: hidden;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}

::placeholder {
    color: $color-grey-light-3;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    height: 0;
    border-top: 1px solid #3d404c;
}


ul, ol {
    margin-top: 0;
    margin-bottom: 1rem;
}

.content {
    // margin-top: 60px;
    margin-left: $navigation-width;
    position: relative;
    padding: 30px;
    transition: margin-left 0.3s ease-out;
    -webkit-transition: margin-left 0.3s ease-out;
  
    &:before {
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: -2;
        left: 0;
        right:0;
        background-image: radial-gradient(circle, #393b45 0%, darken($color-background,1%) 70%);
        background-position: 50%, 50%;
    }
  }
