
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    
}

body {
    box-sizing: border-box;
    color: $color-black;
    background-color: $color-background;

    &.modal-open {
        overflow: hidden;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}

::placeholder {
    color: $color-grey-light-3;
}


ul, ol {
    margin-top: 0;
    margin-bottom: 1rem;
}
