.btn {
  font-size: 1.6rem;
  padding: 1rem;
  background-color: transparent;
  border-radius: .5rem;
  // border-color: $color-primary;
  border: 1px solid $color-primary;
  cursor: pointer;
  outline: none;

  &:disabled {
    border: 1px solid $color-grey-light-3;
    cursor: not-allowed;
  }
  
}

button {
  // border-radius: none;
  // border-width: 1;
  // border-style: none;
}