.form-group {
  margin-bottom: .5rem;
  label {
    font-size: $form-control-font-size;
    font-family: inherit;
    color: $color-form-label;
    padding-bottom: .5rem;

  }
}

.form-label {
  font-size: 1.2rem;
  // font-family: inherit;
  color: $color-form-label;
  padding-bottom: .5rem;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-control {
  outline: none;
  background-color: $color-bg-form-input;
  border: none;
  color: inherit;  
  border-radius: 0.5rem;
  line-height: normal;
  display: block;
  width: 100%;
  font-size: $form-control-font-size;
  font-family: inherit;
  padding: $form-control-pd;
  margin-right: 1rem;
  height: 4rem;

  &:focus {
    border-color: $color-accent;
    color: $color-white;
  }

  &__medium {
    width: 12rem;
  }

  &__small {
    width: 6rem;
  }
}

.select {
  // appearance: none;
  // font-size: 1.2rem;
  height: 4rem;
  // border-radius: 50%;
  
}

.select:after {
  content: "▼";
  padding: 12px 8px;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;  
  color: red;  
}

