// nocivique - rue - apt
.address-line1 {
  width: 100%;
  

  &__inputs {
    margin-bottom: 1rem;
    background-color: $color-bg-form-input;
    border: none;
    color: inherit;  
    border-radius: 0.5rem;
    line-height: normal;
    padding: 1rem 1.8rem;
    height: 4rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    
  }
  
  

  &__label {
    color: $color-white;
    font-size: 1.2rem;
    display: block;
  }
  &__no,
  &__rue,
  &__apt {
    background-color: transparent;
    color: $color-font;
    border: none;
    outline: none;
    
  }

  &__no {
    width: 25%;
    

  }

  &__rue {
    width: 50%;
  }

  &__apt {
    width: 20%;
  }


}